.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  background-color: #828282;
  padding: 16px;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  transition: transform 0.2s;
  box-sizing: border-box;
  background-color: #FFD700;
  color: #000;
}

.card:hover {
  transform: scale(1.05);
  background-color: #00BFFF;
  color: #FFF;
}

.card img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  transition: transform 0.2s;
}

.card h2 {
  font-size: 1.5em;
  margin: 16px 0;
}

.card p {
  margin: 8px 0;
}